body{
    background-color: black;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    height: 55px;
    width: 100%;
    overflow: hidden;
}
li{
   float: left;
 
}
li a{
    display: block;
    text-decoration: none;
    color: 	#C5B358;
    font-size: 27px;
    font-family: Brush Script MT;
    padding: 10px;
    border-radius: 17px;
    margin-right: 10px;
    margin-left: 5px;
}
li a:not(.active):hover{
    font-size: 28px;
    opacity: 0.7;
}
.active {
    background-color: #C5B358;
    color: black;
}

@keyframes appear {
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}
.div1 {
    display: block;
    animation-name: appear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.div2 {
    border-radius: 25px;
    background-color: #9a9a9a;
    border: 2px solid;
    width: 1000px;
    padding: 350px;
    margin-left: 50px;
    margin-top: 50px;
    animation-name: oscar1;
    animation-duration: 4s;
}
@keyframes oscar1 {
    0%   {background-color: transparent; left:0px; top:0px;}
    25%   {background-color:#c0c0c0; left:0px; top:0px;}
    50%  {background-color:silver; left:200px; top:200px;}
    100% {background-color: #9a9a9a; left:0px; top:0px;}
  }
.div3{
    background-image: url(../images/oscar.jpg);
    height: 115%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: oscar2;
    animation-duration: 6s;
    animation-direction: alternate;
    
}
@keyframes oscar2 {
    0%{opacity: 0}
    25%{opacity:0}
    
    75%{opacity:1}
    100%{opacity:1}
    
  }
/*.hr{
    border-top:1px dotted #C5B358;
    border-bottom: 1px dashed #C5B358;
}*/
